.section {
  height: 235px;
  border-top: 1px solid #d9fff5;
  border-bottom: 1px solid #f8f8f8;
  background-color: #f8f8f8;
  &--square {
    height: 315px;
  }
  @media (min-width: $table-width) {
    /*height: auto;*/
    &--minimalize {
      height: 320px;
    }
    &--expanded {
      height: auto;
    }
  }
  @media (min-width: $desktop-width) {
    /*height: auto;*/
    &--minimalize {
      height: 320px;
    }
    &--expanded {
      height: auto;
    }
  }
}





