.side-menu {
  @media (min-width: $table-width) {
    max-height: 1024px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__footer {
    padding: 16px;
    @media (min-width: $table-width) {
    padding: 24px;
    }
  }
}
