.side-mob-menu {
    display: flex;
    align-items: center;
    height: 88px;
    &__logo {
      height: 51px;
    }
    &__button {
      height: 40px;
      margin-left: 24px;
      &:first-of-type {
        margin-right: 17px;
      }
      &:last-of-type {
        margin-left: 78px;
      }
    }
  }