.wrapper {
  &--main {
    @media (min-width: $desktop-width) {
      width: 1120px;
    }
  }
  &--side {
    /*display: none;*/
    @media (min-width: $desktop-width) {
      display: block;
      position: sticky;
      top: 0;
      left: 0;
      z-index: 100;
      width: 320px;
      overflow: auto;
      height: 100vh;
      background-color: #fff;
      /*box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);*/
      color: #1b1c21;
      font-family: "TTLakes", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.2px;
    }
  }
  &--opened {
    @media (min-width: $table-width) {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      width: 320px;
      overflow: auto;
      height: 100vh;
      background-color: #fff;
      color: #1b1c21;
      font-family: "TTLakes", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.2px;
      &:after {  
        content: '';
        width: calc(100vw - 320px);
        height: 100vh;
        position: fixed;
        top: 0;
        left: 320px;
        background-color: rgba(255, 255, 255, 0.96);
        z-index: -1;
        box-shadow: inset 60px 0px 52px -44px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);;
      }
    }
  }
  &--closed {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}
