.side-menu {
    max-height: 1024px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.side-menu__footer {
  padding: 24px;
}
/*Logo+Menu*/

.m-button {
  height: 40px;
}
.side-mob-menu {
  display: flex;
  align-items: center;
  height: 88px;
}
.side-mob-menu__logo {
  height: 51px;
}
.side-mob-menu__button {
  height: 40px;
  margin-left: 24px;
}
.side-mob-menu__button:first-of-type {
  margin-right: 17px;
}
.side-mob-menu__button:last-of-type {
  margin-left: 78px;
}

/*NAV*/
.side-nav__list {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.side-nav__item {
  position: relative;
  margin-top: 32px;
  margin-left: 24px;
}
.side-nav__link {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}
.side-nav__item:last-of-type {
  margin-bottom: 4px;
}
.side-nav__link:hover {
  color: #7e7e82;
}
.side-nav__link:hover::before {
  content: "";
  display: block;
  width: 4px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 0 3px 3px 0;
  background-color: #41f6d7;
  position: absolute;
  left: -24px;
  top: -4px;
}

/*FOOTER*/

.contacts__mail {
  margin-top: 16px;
}
.contacts__mail-text {
  color: #1b1c21;
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.contacts__phone {
  margin-top: 12px;
}
.contacts__phone-number {
  color: #1b1c21;
  font-family: "TT Lakes", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
}
.contacts__lang {
  margin-top: 40px;
}
.contacts__lang-button {
  height: 24px;
  margin-right: 7px;
  color: #1b1c21;
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}
.contacts__lang-button--active {
  color: #7e7e82;
}
/*HOVERS*/
.button:hover {
  transform: scale(1.1) rotate(-360deg);
  transition-duration: 1s;
  box-shadow: 0 0 2px 3px #41f6d7;
}
.contacts__lang-button:hover {
  transform: scale(1.2);
  transition-duration: 1s;
  border-radius: 3px;
  background-color: #41f6d7;
  box-shadow: 0 0 5px 3px #41f6d7;
} 


